/******************************************/
 /*Header*/
/******************************************/

.sm-bg {
   background-color: rgba(0,0,0, 0.3);
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: 1000;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px;
}

.nav-list {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 5px;
  margin-right: -30px;
  }

.nav-list > li {
  position: relative;
  display: inline-block;
  margin: 0;
}

.nav-list > li + li {
  margin-left: 10px;
  margin-top: 0px;
}

.fa {
  color: rgba(0, 255, 153, 0.8);
  margin-top: 0px;
}

a {
  color: #757171 ;
}

a:hover {
  color:rgba(0, 255, 153, 0.8);
}

.fa:hover, {
  color:rgba(0, 0, 0, 0.8) ;
}

/*******************************************/
 /*INTRO*/
/******************************************/
.hero {
  background: url('../images/background.jpg') no-repeat center center; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 65px 0 300px 0;
  height: 700px;
}

.hero h1 {
  font-size: 40px;
  letter-spacing: 12px;
  margin: 10px;
}

.hero h1 span {
  color: #dededf;
  display: inline-block; }

.hero p {
  letter-spacing: 1px;
  color: #dededf;}

.inner {
  padding-top: 215px;
}

/*******************************************/
 /*ABOUT ME*/
/******************************************/
.intro {
  background: #f3f5f8;
}

.intro p {
  margin: 50px 0 0;
}

h1.arrow {
  font-size: 15px;
  text-transform: uppercase;
  color: #353535; letter-spacing:
  1px; background: url('../images/h1-bg.png') no-repeat center bottom;
  padding-bottom: 30px;
  font-weight: bold;
}


/*******************************************/
 /*PORTFOLIO*/
/******************************************/
.features-wrapper { margin: 70px 0 0; }
.shadow { text-shadow: rgb(55, 181, 161) 1px 1px, rgb(55, 181, 161) 2px 2px, rgb(55, 181, 161) 3px 3px, rgb(55, 181, 161) 4px 4px, rgb(55, 181, 161) 5px 5px, rgb(55, 181, 161) 6px 6px, rgb(55, 181, 161) 7px 7px, rgb(55, 181, 161) 8px 8px, rgb(55, 181, 161) 9px 9px, rgb(55, 181, 161) 10px 10px, rgb(55, 181, 161) 11px 11px, rgb(55, 181, 161) 12px 12px, rgb(55, 182, 162) 13px 13px, rgb(55, 183, 163) 14px 14px, rgb(56, 184, 164) 15px 15px, rgb(56, 185, 165) 16px 16px, rgb(56, 186, 166) 17px 17px, rgb(57, 187, 167) 18px 18px, rgb(57, 188, 168) 19px 19px, rgb(57, 189, 169) 20px 20px, rgb(58, 191, 170) 21px 21px, rgb(58, 192, 171) 22px 22px, rgb(58, 193, 172) 23px 23px, rgb(59, 194, 173) 24px 24px, rgb(59, 195, 174) 25px 25px, rgb(59, 196, 175) 26px 26px, rgb(60, 197, 176) 27px 27px, rgb(60, 198, 177) 28px 28px, rgb(60, 199, 178) 29px 29px, rgb(61, 201, 179) 30px 30px; }
.icon { height: 175px; width: 175px; line-height: 175px; max-width: 100%; background: rgba(0, 255, 153, 0.8); border-radius: 50%; -o-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: block; color: #fff; font-size: 55px; text-align: center; vertical-align: middle; position: relative; margin: 0 auto 50px; }

/*OR*/

.effects { padding-left: 15px; }
.effects .img { position: relative; margin-bottom: 50px; position: relative; z-index: 1; overflow: hidden; }
.effects .img:nth-child(n) { margin-right: 5px; }
.effects .img:first-child { margin-left: -15px; }
.effects .img:last-child { margin-right: 0; }
.effects .img img { display: block; margin: 0; padding: 0; height: auto; }
.overlay { display: block; position: absolute; z-index: 20; background: rgba(100, 194, 158, 0.8); overflow: hidden; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; }
a.close-overlay { display: block; position: absolute; top: 0; right: 0; z-index: 100; width: 45px; height: 45px; font-size: 20px; font-weight: 700; color: #fff; line-height: 45px; text-align: center; background-color: #000; cursor: pointer; }
a.close-overlay.hidden { display: none; }
a.expand { display: block; position: absolute; z-index: 100; text-align: center; color: #fff; font-weight: 600; font-size: 14px; text-transform: uppercase; line-height: 30px; }
.overlay-effect .img i { font-size: 30px; }
.overlay-effect .overlay { bottom: 0; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; }
.overlay-effect .overlay a.expand { left: 0; right: 0; bottom: 47%; margin: 0 auto -30px auto; }
.overlay-effect .img.hover .overlay { height: 100%; opacity: 1; }
.img img { width: -webkit-calc(100% + 40px) !important; width: calc(100% + 40px) !important; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -moz-transition: opacity 0.35s, -moz-transform 0.35s; -o-transition: opacity 0.35s, -o-transform 0.35s; -webkit-transform: translate3d(-40px, 0, 0); transform: translate3d(-40px, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.img:hover img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.designs { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 50px; }

/* ==========================================================================
CTA
========================================================================== */
.ignite-cta {
  background-color: #242830;
  padding: 35px 0 25px;
}

.ignite-btn {
  display: inline-block;
  padding: 15px 40px 15px;
  margin-bottom: 25px;
  color: #fff;
  border: solid 1px #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}


.skills-text-box {
  color: #fff;
  text-align: left;
}

.skills-list {
  list-style: none;
}

.skills-list li {
  line-height: 300%
}

.skills-headers {
font-size: 1.5em;
}
/*******************************************/
 /*CONTACT*/
/******************************************/
.up-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(61, 201, 179, 0.5);
  display: block;
   margin: 0 auto;
  color: #fff;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: absolute;
  top: -26px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.up-btn:hover, up-btn:focus {
  color: #fff;
  background: rgba(61, 201, 179, 1);
}

.contact-details {
  margin: 70px 0;
}

.contact-details h2 {
  font-size: 20px;
}

.contact-details h2 span {
  display: block; color: rgba(0, 255, 153, 0.8);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 15px;
}

.contact-wrap {
  position: relative;
}

h2 .fa {
  color: #353535;
}

/*******************************************/
 /*FOOTER*/
/******************************************/

footer {
  background-color: #242830;
  padding: 40px 0 30px;
}

/*******************************************/
 /*GENERAL*/
/******************************************/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'Varela Round', sans-serif;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  color: #353535;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
  /*font-size: 15px; */
  color: #353535;
  text-transform: uppercase;
  font-weight: bold;
}

h2::after {
  content: " ";
  border: solid 2px rgba(0, 255, 153, 0.8);
  display: block;
  width: 35px;
  margin: 25px auto;
}
/*h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }*/

p {
  margin: 1em 0;
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
}

/*ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}*/
.section-padding {
  padding: 90px 0 100px
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }