/* You'll want to make the site responsive and nice looking here. Have fun!*/


#wrapper {
  text-align: left;
  margin: 0px auto;
  padding: 0px;
  border:0;
  width: 960px;
  background: url("http://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-6-full.jpg") repeat;
  color:black;
  font-size: 2em;
}

#side-a ul{
  list-style-type:none;
}

a {
  color:black;
}

#header {
  margin: 0 0 15px 0;
  background: black;
  color: white;
}

#side-a {
  float: left;
  width: 150px;
}

#side-a li{
  padding-top: 20px;
}

#side-b {
  float: right;
  width: 150px;
}

#content {
  float: left;
  width: 68%;
}

#footer {
  clear: both;
  background: #A2A2A2;
}


@media screen and (min-width: 769px) {

#wrapper {
  width: 100%;
}

#header {
  height: 70px;
  background-color: green;
}

#content {
  float:right;
  margin-right:5%;
}

#side-a {
  width: 15.625%;
}

IMG {
  max-width: 100%;
}

p {
  max-width: 100%;
}
ul li a {
  color: yellow;
}

.reflection {
  float:right;
  margin-right:5%;
  width: 68%;
}

}

@media screen and (max-width: 768px) {

#wrapper {
  width: 100%;
  font-size: 1.5em;
}

#header {
  height: 60px;
  background-color: yellow;
}

#side-a {
  width: 15.625%;
}

IMG {
  max-width: 100%;
}

p {
  max-width: 100%;
}

#content {
  float:right;
  margin-right:5%;
}

.reflection {
  float:right;
  margin-right:5%;
  width: 68%;
}

}

@media screen and (max-width: 480px) {

#wrapper {
  width: 100%;
  font-size: 1.25em;
}

#header {
  height: 50px;
  background-color: blue;
  margin: 0 0 5px 0;
}

#side-a {
  width: 100%;
  display: block;
  background-color: blue;
  float: none;
}

IMG {
  max-width: 100%;
}

p {
  max-width: 100%;
}

#content {
  margin: 0 2.5% 0 2.5%;
  width: 95%;
}

#side-a ul li {
  display: inline-block;
  margin-right:3%;
}

#side-a li{
  padding-top: 2px;
}

.reflection {
  margin: 0 2.5% 0 2.5%;
  width: 95%;
}

}


