body {
  background-color: white;
  color: #999999;
  font-family:Arial, sans-serif;

}

#header {
  background-color: white;
  color: #333;
  text-align: center;
  font-family:Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #999999;
}

#topheader {
  font-size: 2em;
}

.firstletter {
  font-size: 2.5em;
  fon: italic;
}

#bottomheader {
  font-size: 1em;
    font-style:italic;

}

#textbody {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid black;
  margin: 20px 60px 20px 60px;
}

#posttitle {
  font-size: 1.5em;
  font-weight: bold;
}

#postdate {
  font-size: 1em;
}

.posttext {
 font-size: 0.8em;
}

IMG.displayed {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300 px;
  height: 300px;

}

a:link {
  color:#6600CC;
}

a:visited {
  color:black;
}