body {
  background-color: white;
  color: #444444;
  font-family:Arial, sans-serif;
  }

#header {
  background-color: #fff;
  text-align: center;
  font-family:Arial, sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 70%;
  margin: 30px auto 30px auto;
  border: 1px solid #444444;
  padding-right: 10px;
  padding-left: 10px;

}

#topheader {
  font-size: 2em;
}

.firstletter {
  font-size: 2.3em;
  fon: italic;
}

#bottomheader {
  font-size: 1em;
  font-style:italic;
}

#textbody {

  border: 1px solid #444444;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;

  }

#posttitle {
  font-size: 1.5em;
  font-weight: bold;
}

#postdate {
  font-size: 1em;
}

.posttext {
 font-size: 0.8em;
}

IMG.displayed {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300 px;
  height: 300px;

}

a:link {
  color:#444444;
}

a:visited {
  color:#444444;

}

a:hover {
  color: #000000;
}

footer {
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8em;
  text-align: center;
}