body {
  background-color: white;
  color: #444444;
  font-family: 'Arvo', serif;
  width: 96%;
  }

header {
  text-align: center;
  width: 90%;
  margin: 25px auto 25px auto;
  border: 1px solid #444444;
  padding: 15px 0;
}

header ul {
  list-style-type: none;
  margin:0 auto;
  padding-left:30px;
}

.headerbuttons {
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  font-size: 1.5em;
  padding: 30px 10px 30px 10px;
}

.headerbuttons a {
  text-decoration: none;
}

.headerbuttons a:hover {
  color: #7519D1;
}

#M {
  font-size: 2.5em;
}

#main-content {
  border: 1px solid #444444;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  }

#meg-pic {
  float: left;
  margin: 10px auto 10px auto;
  padding: 3% 3% 3% 3%;
  border: 1px solid blue;
  width: 35%;
}

#text-box {
  float: right;
  width: 50%;
  padding: 0 3% 3% 3%;
  border: 1px solid green;
}

#name {
  font-size: 3em;
}

#about-me {
  font-size: 1em;
}

a:link {
  color:#444444;
}

a:visited {
  color:#444444;
}

a:hover {
  color: #7519D1;
}

#footer {
  text-align: center;
  width: 90%;
  margin: 25px auto 25px auto;
  border: 1px solid #444444;
  padding: 5px 0;
  clear: both;
  font-size: 0.7em;
}

#social-buttons ul {
  list-style-type: none;
}

.social-icon {
  height: 48px;
}

#social-buttons ul li {
  display: inline;
    margin: 0 auto 0 auto;
    padding-right: 20px;
}

