#projects-header {
  margin-left: 20px;
}

#project-title {
  font-size: 1.3em;
}

#projects-text {
    margin: 0 20px 0 20px;
    font-size: 1em;
    position: relative;
    bottom: -4px;
}

ul {
  list-style: none;

}